<p> The aim of this notebook is to create a recommendation system. This will help suggest movies to individuals based on their favorite movie

## Loading Libraries

In [1]:
import numpy as np
import pandas as pd
import difflib # used to get the closest match to the users value from the dataset to handle mistakes
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer # This is used to convert texts into meaningful numerical data
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
# I'd like to view all of my columns
pd.set_option("display.max_columns",None)

## Importing Dataset

In [3]:
movies = pd.read_csv('movies.csv',index_col='index')
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
index,,,,,,,,,,,,,,,,,,,,,,,
0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [4]:
movies.shape

(4803, 23)

### Selecting the columns that seem relevent to a particular movie type

In [5]:
selected_cols = ['genres','homepage','keywords','title','director','cast','crew']

In [6]:
selected_movies = movies[selected_cols].copy()

In [7]:
import re

In [8]:
def get_site(x):
    site = re.match(r'^(http(s)?).*(\.com)',x)
    if site is None:
        return ""
    return site.string

In [9]:
selected_movies.head()

,genres,homepage,keywords,title,director,cast,crew
index,,,,,,,
0,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,culture clash future space war space colony so...,Avatar,James Cameron,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd..."
1,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,ocean drug abuse exotic island east india trad...,Pirates of the Caribbean: At World's End,Gore Verbinski,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa..."
2,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,spy based on novel secret agent sequel mi6,Spectre,Sam Mendes,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar..."
3,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,dc comics crime fighter terrorist secret ident...,The Dark Knight Rises,Christopher Nolan,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm..."
4,Action Adventure Science Fiction,http://movies.disney.com/john-carter,based on novel mars medallion space travel pri...,John Carter,Andrew Stanton,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa..."

In [10]:
selected_movies.isna().sum()

genres        28
homepage    3091
keywords     412
title          0
director      30
cast          43
crew           0
dtype: int64

In [11]:
selected_movies.fillna("",inplace=True, axis=0)

In [12]:
selected_movies['homepage'] = selected_movies['homepage'].apply(lambda x: get_site(x))

In [13]:
jumbled = ""
for cols in selected_cols:
    jumbled += selected_movies[cols]+' '

In [14]:
jumbled

index
0       Action Adventure Fantasy Science Fiction http:...
1       Adventure Fantasy Action http://disney.go.com/...
2       Action Adventure Crime http://www.sonypictures...
3       Action Crime Drama Thriller http://www.thedark...
4       Action Adventure Science Fiction http://movies...
                              ...
4798    Action Crime Thriller  united states\u2013mexi...
4799    Comedy Romance   Newlyweds Edward Burns Edward...
4800    Comedy Drama Romance TV Movie http://www.hallm...
4801     http://shanghaicalling.com/  Shanghai Calling...
4802    Documentary  obsession camcorder crush dream g...
Name: genres, Length: 4803, dtype: object

### Converting the textual data to a feature vector

In [15]:
tdvec = TfidfVectorizer()

In [16]:
jumbled_vec = tdvec.fit_transform(jumbled)

Finding the similarity score or similarity confidence values using cosine similarity

In [18]:
similarity = cosine_similarity(jumbled_vec)

In [19]:
similarity.shape

(4803, 4803)

The reason for the shape of the similarity is that each of the movies are compared with all of the other movies and a score is given for their similarity

In [20]:
movie_titles = movies.title.to_list()

In [57]:
# Getting the movie name from the user
movie_name = input("Enter your favorite movie name: ")
find_close_match = difflib.get_close_matches(movie_name, movie_titles)
find_close_match

Enter your favorite movie name: Lord of the rings

['Wrath of the Titans', 'Land of the Lost', 'George of the Jungle']

In [58]:
close_match = find_close_match[0]

In [59]:
index_of_movie = movies[movies.title == close_match].index[0]

In [60]:
index_of_movie

132

In [61]:
similarity_score = list(enumerate(similarity[index_of_movie]))

In [62]:
sorted_similar_movies = sorted(similarity_score, key = lambda x: x[1],reverse=True)

In [64]:
count = 0
while(count < 30):
    print("{}. {}".format(count+1, movies.iloc[sorted_similar_movies[count][0]].title))
    count += 1

1. Wrath of the Titans
2. Clash of the Titans
3. Alexander
4. The Chronicles of Riddick
5. The Day After Tomorrow
6. The Dark Knight Rises
7. Jurassic World
8. Harry Potter and the Prisoner of Azkaban
9. The Core
10. The Aviator
11. A.I. Artificial Intelligence
12. Cursed
13. Spectre
14. Ant-Man
15. Contact
16. The Girl with the Dragon Tattoo
17. Deep Blue Sea
18. Kill Bill: Vol. 1
19. The Polar Express
20. Catwoman
21. Master and Commander: The Far Side of the World
22. Harry Potter and the Chamber of Secrets
23. Interstellar
24. Bad Boys II
25. Blade II
26. The League of Extraordinary Gentlemen
27. The Hunger Games: Mockingjay - Part 1
28. Blade: Trinity
29. Captain America: The First Avenger
30. Minority Report